<p>mission list works!</p>
<p> couldn't figure out details page</p>
<!-- <app-missiondetails hidden [item] = "currentitem"></app-missiondetails> -->
<mat-card  *ngFor="let missions of dataList">
    <div class="entey">
    
<mat-card-title>Mission Name: {{missions.mission_name}} </mat-card-title>  
        <a [routerLink]="['/missiondetails',{state: {hello: currentitem}}]">
            Link </a>
            <p>Launch Year: {{missions.launch_year}} </p>
        <p>Details: {{missions.details}} </p> 
    </div> 
    <br>   
</mat-card>
<br>

